extends base

block content
    ul
        h2.secret-h2 This is my secrets :- 
        each secret in secrets 
            li.list-item= secret.secrets
    form.submit-secret
        input#secret-id(type="text" name="secret" value=`${id}` style="display: none;")
        input#secret-field(type="text" name="secret" placeholder="Tell me your secret" autocomplete="off", required)
        button.submit-btn Submit Secret
    button.logout-btn Log Out